.leaflet-container {
  z-index: 1 !important;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 5 !important;
}
.navbar * {
  caret-color: transparent;
}
a,
button {
  caret-color: transparent;
}
svg text {
  caret-color: transparent;
  user-select: none;
}
